<h1>Create a Team and Heroes!</h1>
<h2>Team</h2>
<form action="/team" method="POST">
<label for="team_name">Team Name:</label>
<input type="text" id="team[name]" name="team[name]"><br>

<label for="team_motto">Team Motto:</label>
<input type="text" id="team[motto]" name="team[motto]"><br>
<h2>Hero 1</h2>
<label for="hero_name">Hero Name:</label>
<input type="text" id="member1_name" name="team[members][heros][][name]"><br>
<label for="hero_power">Hero Power:</label>
<input type="text" id="member1_power" name="team[members][heros][][power]"><br>
<label for="hero_bio">Hero Bio:</label>
<input type="text" id="member1_bio" name="team[members][heros][][bio]"><br>

<h2>Hero 2</h2>
<label for="hero_name">Hero Name:</label>
<input type="text" id="member2_name" name="team[members][heros][][name]"><br>
<label for="hero_power">Hero Power:</label>
<input type="text" id="member2_power" name="team[members][heros][][power]"><br>
<label for="hero_bio">Hero Bio:</label>
<input type="text" id="member2_bio" name="team[members][heros][][bio]"><br>

<h2>Hero 3</h2>
<label for="hero_name">Hero Name:</label>
<input type="text" id="member3_name" name="team[members][heros][][name]"><br>
<label for="hero_power">Hero Power:</label>
<input type="text" id="member3_power" name="team[members][heros][][power]"><br>
<label for="hero_bio">Hero Bio:</label>
<input type="text" id="member3_bio" name="team[members][heros][][bio]"><br>
<input type="submit" value="submit">
</form>
