<h1>Create a Team and Heroes!</h1>
<h2>Team</h2>
<form action="/team" method="POST">
<label for="team_name">Team Name:</label>
<input type="text" id="team_name" name="team[name]"><br>

<label for="team_motto">Team Motto:</label>
<input type="text" id="team_motto" name="team[motto]"><br>
<h2>Hero 1</h2>
<label for="hero_name">Hero Name:</label>
<input type="text" id="hero_name" name="team[members][heros][0][name]"><br>
<label for="hero_power">Hero Power:</label>
<input type="text" id="hero_power" name="team[members][heros][0][power]"><br>
<label for="hero_bio">Hero Bio:</label>
<input type="text" id="hero_bio" name="team[members][heros][0][bio]"><br>

<h2>Hero 2</h2>
<label for="hero_name">Hero Name:</label>
<input type="text" id="hero_name" name="team[members][heros][1][name]"><br>
<label for="hero_power">Hero Power:</label>
<input type="text" id="hero_power" name="team[members][heros][1][power]"><br>
<label for="hero_bio">Hero Bio:</label>
<input type="text" id="hero_bio" name="team[members][heros][1][bio]"><br>
<input type="submit" value="Submit">
</form>
